@media (max-width:1280px) {

  header,section,footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width:1024px) {

  .why__this__contant_stb {
    max-width: 270px;
  }

  .pricing__options__card {
    max-width: 300px;
  }

  .stylish__discription {
    opacity: 1;
    font-weight: bold;
  }

  .media__discription {
    max-width: 200px;
  }

  .sub__container__limit {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width:768px) {
  .modern {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section_modern {
    flex-direction: column;
  }

  .modern_stb {
    width: auto;
    text-align: center;
  }

  .modern_text {
    opacity: 1;
  }

  .feedback {
    margin-top: 50px;
  }

  .feedback_form input {
    margin: 0;
    margin-top: 30px;
    margin-left: 20px;
  }

  .feedback_form button {
    margin-top: 30px;
  }

  .media____discription__heading {
    margin-bottom: 6px;
  }

  .tabs__container__limit {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }

  .tabs__contant {
    margin-right: 30px;
  }

  .tabs__img__container {
    display: none;
  }

  .sub__img {
    width: 375px;
    height: 225px;
    margin-bottom: 40px;
  }

  .sub__discription__text__img {
    margin-right: 10px;
    border: 2px solid #ff8b38;
    height: 20px;
    width: 20px;
    align-self: center;
  }

  .standart__container__limit {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .standart__img {
    width: 375px;
    height: 225px;
    margin-bottom: 40px;
  }

  .why__this__container__limit {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .why__this__discription {
    margin-bottom: 40px;
  }

  .why__this__contant {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .why__this__contant_stb:last-child {
    margin-top: 20px;
  }

  .pricing__options__container__limit {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pricing__options__discription {
    margin-bottom: 30px;
  }

  .pricing__options__contant {
    flex-direction: column;
    align-items: center;
  }

  .pricing__options__card {
    max-width: 250px;
  }

  .pricing__options__card:not(:last-child) {
    margin-bottom: 20px;
  }

  .pricing__options__card__item {
    display: none;
  }

  .pricing__options__card__heading {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .pricing__options__card__price {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .pricing__options__card__discription {
    padding-bottom: 11px;
  }

  .what__our__container_limit {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .what__our__discription {
    margin-bottom: 30px;
  }

  .what__our__contant {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .what__our__contant__comm:last-child {
    margin-top: 20px;
  }

  .stylish__container_limit {
    padding-top: 50px;
    padding-bottom: 65px;
  }

  .contact__us__container_limit {
    padding-top: 50px;
    padding-bottom: 400px;
  }

  .contact__us__discription {
    margin-bottom: 40px;
  }

  .contact__us__form {
    display: block;
  }

  .contact__us__form__column_one {
    width: 100%;
    margin-bottom: 40px;
  }

  .contact__us__form__column_two {
    width: 100%;
  }

  .column_two_comment {
    align-self: flex-start;
    padding-left: 0;
  }

  .contact__us__form__container__btn {
    text-align: end;
    margin-right: 60px;
  }

  .footer__media__limit {
    max-width: 1100px;
  }

  .footer__media__ss {
    display: flex;
    justify-content: space-evenly;
  }

  .footer__img {
    height: 40px;
    width: 40px;
  }
}
