@media (min-width: 1200px) {}

@media (max-width: 1200px) {

  .container_limit,
  .container_header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1200px) {

  .container_header,
  .container_limit {
    max-width: 960px;
  }

  .tabs__contant__container {
    width: 90px;
    height: 90px;
  }

  .tabs__img {
    max-width: 270px;
    height: auto;
  }

  .sub__img {
    max-width: 390px;
    width: auto;
    height: auto;
  }

  .standart__img {
    max-width: 390px;
    height: 240px;
    object-position: 0px -30px;
  }

  .why__this__contant_stb:not(:last-child) {
    margin-right: 35px;
  }

  .pricing__options__card {
    margin-right: 35px;
  }

  .what__our__contant__comm {
    margin-right: 35px;
  }
}

@media (max-width: 960px) {

  .container_header,
  .container_limit {
    max-width: 640px;
  }

  .container_limit,
  .container_header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section_modern {
    display: block;
  }

  .modern_stb {
    width: auto;
    margin-bottom: 50px;
  }

  .try-free {
    display: inline-block;
  }

  .feedback {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  .modern {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .modern_big_logo {
    width: 110px;
    height: auto;
    margin-bottom: 20px;
  }

  .modern_heading {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .modern_line {
    margin-bottom: 20px;
  }

  .modern_text {
    font-size: 16px;
  }

  .nav_list:not(:last-child) {
    margin-right: 35px;
  }

  .media__discription {
    display: none;
  }

  .media__container__limit {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tabs__container__limit {
    flex-direction: column;
    align-items: center;
  }

  .tabs__contant {
    display: flex;
    margin-bottom: 20px;
  }

  .tabs__contant__container {
    width: 70px;
    height: 70px;
  }

  .tabs__contant__heading {
    font-size: 14px;
  }

  .tabs__discription {
    text-align: center;
  }

  .tabs__discription__heading {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .tabs__discription__btn {
    padding: 10px 24px;
    font-size: 16px;
  }

  .tabs__container__limit {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .tabs__img__container {
    display: none;
  }

  .tabs__discription__text {
    margin-bottom: 30px;
  }

  .sub__container__limit {
    flex-direction: column;
  }

  .sub__contant__img {
    text-align: center;
    margin-bottom: 45px;
  }

  .sub__discription__heading {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .sub__discription__line {
    margin-bottom: 15px;
  }

  .sub__discription__signature {
    margin-bottom: 30px;
  }

  .sub__discription__text__img {
    margin-right: 20px;
  }

  .sub__discription__output {
    margin-bottom: 25px;
  }

  .sub__container__limit {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sub__img {
    height: 220px;
  }

  .standart__container__limit {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .standart__img {
    align-self: center;
    height: 220px;
    margin-bottom: 60px;
    object-position: 0px -65px;
  }

  .standart__contant__heading {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .standart__contant__line {
    margin-bottom: 15px;
  }

  .why__this__container__limit {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .why__this__heading {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .why__this__line {
    margin-bottom: 15px;
  }

  .why__this__discription {
    margin-bottom: 40px;
  }

  .why__this__contant {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .why__this__contant_stb {
    max-width: 270px;
  }

  .pricing__options__container__limit {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .pricing__options__heading {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .pricing__options__line {
    margin-bottom: 15px;
  }

  .pricing__options__discription {
    margin-bottom: 30px;
  }

  .pricing__options__card__box {
    z-index: 10;
  }

  .pricing__options__contant {
    align-items: flex-start;
  }

  .pricing__options__card__item {
    height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .pricing__options__card__item-active {
    height: auto;
    transform: scaleY(1);
  }

  .what__our__container_limit {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .what__our__heading {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .what__our__line {
    margin-bottom: 15px;
  }

  .what__our__discription {
    margin-bottom: 35px;
  }

  .what__our__contant {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what__our__contant__comm {
    margin-right: 0px;
  }

  .what__our__contant__comm:not(:last-child) {
    margin-bottom: 25px;
  }

  .contant__comment {
    margin-bottom: 5px;
  }

  .stylish__container_limit {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .stylish__heading {
    margin-bottom: 15px;
  }

  .stylish__line {
    margin-bottom: 15px;
  }

  .stylish__discription {
    margin-bottom: 25px;
  }

  .contact__us__container_limit {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contact__us__form {
    height: auto;
  }

  .contact__us__form__btn {
    margin-top: 30px;
  }

  .contact__us__form__column_two {
    height: auto;
  }

  .column_two_comment textarea {
    box-sizing: border-box;
  }

  .contact__us__heading {
    margin-bottom: 15px;
  }

  .contact__us__line {
    margin-bottom: 15px;
  }

  .contact__us__discription {
    margin-bottom: 50px;
  }
}

@media (max-width:640px) {

  .container_header,
  .container_limit {
    max-width: 480px;
  }

  .container_header {
    align-items: center;
    justify-content: center;
  }

  nav {
    display: none;
  }

  #burger {
    display: block;
  }

  .modern,
  .tabs__container__limit,
  .sub__container__limit,
  .standart__container__limit,
  .why__this__container__limit,
  .what__our__container_limit,
  .stylish__container_limit,
  .contact__us__container_limit,
  .pricing__options__container__limit {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .modern_heading {
    font-size: 30px;
  }

  .modern_text {
    margin-bottom: 30px;
  }

  .sub__img {
    height: 200px;
  }

  .standart__img {
    height: 200px;
  }

  .why__this__discription,
  .what__our__discription {
    margin-bottom: 30px;
  }

  .why__this__contant_stb:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .why__this__contant__img {
    margin-bottom: 10px;
  }

  .why__this__contant__heading {
    margin-bottom: 15px;
  }

  .stylish__discription {
    font-weight: 500;
    opacity: 0.9;
  }

  .stylish__heading {
    font-size: 32px;
  }

  .stylish__btn {
    padding: 12px 25px;
  }

  .contact__us__form {
    flex-direction: column;
    justify-content: flex-start;
  }

  .contact__us__form__column_one {
    width: 100%;
  }

  .contact__us__form__column_one input {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 30px;
  }

  .contact__us__form__column_two {
    width: 100%;
  }

  .column_two_comment {
    width: 100%;
    align-items: flex-start;
  }

  .column_two_comment textarea {
    padding-left: 0px;
  }

  .contact__us__form__container__btn {
    text-align: center;
  }
}

@media (max-width:480px) {

  .container_header,
  .container_limit {
    max-width: 320px;
  }

  .modern,
  .tabs__container__limit,
  .sub__container__limit,
  .standart__container__limit,
  .why__this__container__limit,
  .what__our__container_limit,
  .stylish__container_limit,
  .contact__us__container_limit,
  .pricing__options__container__limit {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .modern_big_logo {
    width: 90px;
  }

  .modern_heading {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .modern_line {
    margin-bottom: 15px;
  }

  .modern_text {
    font-size: 14px;
    line-height: 20px;
  }

  .btn_modern_download {
    padding: 10px 24px;
    font-size: 14px;
  }

  .media__img {
    width: 36px;
    height: 36px;
  }

  .tabs__contant__container {
    width: 50px;
    height: 50px;
  }

  .tabs__contant__heading {
    font-size: 12px;
    font-weight: 600;
  }

  .tabs__discription__heading {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .tabs__discription__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .tabs__discription__btn {
    font-size: 14px;
  }

  .sub__discription__heading {
    font-size: 18px;
  }

  .sub__discription__signature {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .sub__img {
    min-width: 260px;
    height: 140px;
  }

  .sub__contant__img {
    margin-bottom: 40px;
  }

  .sub__discription__heading__container {
    font-size: 14px;
  }

  .sub__discription__text {
    font-size: 14px;
  }

  .sub__discription__text__img {
    margin-right: 10px;
    width: 23px;
    height: 23px;
    border-width: 2px;
    background-position: 3px 4px;
  }

  .standart__img {
    max-width: 220px;
    height: 140px;
    object-position: 0px -26px;
    margin-bottom: 40px;
  }

  .standart__contant__heading {
    font-size: 18px;
  }

  .standart__contant__discription {
    font-size: 14px;
  }

  .why__this__heading {
    font-size: 24px;
    line-height: 32px;
  }

  .why__this__discription,
  .what__our__discription {
    margin-bottom: 25px;
  }

  .why__this__contant__img {
    width: 50px;
    height: 50px;
  }

  .why__this__contant__heading {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .why__this__contant__discription {
    line-height: 18px;
  }

  .pricing__options__heading {
    font-size: 24px;
    line-height: 32px;
  }

  .pricing__options__discription {
    margin-bottom: 25px;
  }

  .what__our__heading {
    font-size: 24px;
    line-height: 32px;
  }

  .contant__account__avatar {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .contant__account__author__name {
    font-size: 18px;
  }

  .contant__account__author__post {
    font-size: 12px;
  }

  .stylish__heading {
    font-size: 24px;
    font-weight: 600;
  }

  .stylish__discription {
    font-size: 14px;
    opacity: 1;
  }

  .stylish__btn {
    padding: 10px 24px;
  }

  .stylish__discription {
    margin-bottom: 22px;
  }

  .contact__us__heading {
    font-size: 24px;
    line-height: 32px;
  }

  .contact__us__discription {
    text-align: center;
  }

  .contact__us__form__btn {
    margin-top: 20px;
    font-size: 14px;
    padding: 12px 20px;
  }

  .footer__img {
    width: 27px;
    height: 27px;
  }

  .footer__ss:not(:last-child) {
    margin-right: 10px;
  }
}